# Robot Framework - results/output
Results/
results/
output.xml
log.html
report.html

# Python cache (se você usar libs Python)
__pycache__/
*.pyc

# OS / IDE
.DS_Store
.vscode/
.idea/

# Python virtual env
.venv/

# Evidências (screenshots automáticos)
Resources/**/Evidences/
Resources/**/Evidences/*.png
